{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Seus Livros
        </div>
        <div class="card-body">
            <h5 class="card-title">Lista de Leitura</h5>
            <p class="card-text">Prioridade de livros para ler</p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Informação</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    {% for livro in livros %}
                    <tr class="pointer">
                        <td>{{ loop.index }}</td>
                        <td>{{ livro.titulo }}</td>
                        <td>
                            <button type="button" class="btn btn-success">Lido</button>
                            <button onclick="window.location.href='editar-livro/{{livro.id}}'" type="button" class="btn btn-info">Editar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <a class="btn btn-primary" href="#">Adicionar livro</a>

        </div>
    </div>
</div>